<footer class="footer">
  <div class="container footer-container">
    <div class="cont">
      <div class="logo-address">
        <a href="./index.html" class="footer-logo">Focus.Frame</a>
        <address>
          <ul class="contact-info">
            <li class="ci-li">
              <a href="tel:+380665438912" class="ci-info"
                >UK: +38 066 543 8912</a
              >
            </li>
            <li class="ci-li">
              <a
                href="https://www.google.com/maps?client=opera-gx&hs=DhH&sca_esv=563685443&output=search&q=ukraine+kyiv&source=lnms&entry=mc&sa=X&ved=2ahUKEwi5__DR3ZqBAxX6KhAIHbFOA6MQ0pQJegUImwEQAQ"
                target="_blank"
                class="ci-info"
                >Ukraine, Kyiv</a
              >
            </li>
          </ul>
        </address>
      </div>
      <div class="main-links">
        <ul class="social-links">
          <li>
            <a
              href="https://www.instagram.com/goitclub/"
              class="mlink"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Instagram icon"
              >INSTAGRAM</a
            >
          </li>
          <li>
            <a
              href="https://www.facebook.com/goITclub/"
              class="mlink"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Facebook icon"
              >FACEBOOK</a
            >
          </li>
          <li>
            <a
              href="https://www.youtube.com/c/GoIT"
              class="mlink"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Youtube icon"
              >YOUTUBE</a
            >
          </li>
        </ul>
        <nav>
          <ul class="anchor-links">
            <li><a href="" class="mlink">ABOUT US</a></li>
            <li><a href="" class="mlink">OUR COUSES</a></li>
            <li><a href="" class="mlink">OUR MENTORS</a></li>
            <li><a href="" class="mlink">REVIEWS</a></li>
            <li><a href="" class="mlink">CONTACTS</a></li>
          </ul>
        </nav>
      </div>
      <div class="submit-email-form">
        <form class="form">
          <label for="enter-email"></label>
          <input
            type="email"
            placeholder="Enter your email"
            name="email"
            class="footer-email-input"
            pattern="regexp"
            id="enter-email"
          />
          <button type="submit" class="form-button">Go</button>
        </form>
      </div>
    </div>
    <div class="privacy-block">
      <ul class="privacy-list">
        <li>
          <a class="pb-text privacy" href="./index.html">
            Privacy Policy <br />
            Public Offering Agreement
          </a>
        </li>
        <li>
          <p class="pb-text rights">
            2023 Focus Frame <br />
            © All rights reserved
          </p>
        </li>
      </ul>
    </div>
  </div>
</footer>
