<header class="header container">
  <div class="top-block">
    <nav class="header-nav">
      <p class="logo">Focus.Frame</p>

      <ul class="nav-list list">
        <li class="nav-list-item">
          <a class="navigation-links" href="">About us</a>
        </li>
        <li class="nav-list-item">
          <a class="navigation-links" href="">Our courses</a>
        </li>
        <li class="nav-list-item">
          <a class="navigation-links" href="">Our mentors</a>
        </li>
        <li class="nav-list-item">
          <a class="navigation-links" href="">Reviews</a>
        </li>
        <li class="nav-list-item">
          <a class="navigation-links" href="">Contacts</a>
        </li>
        <!-- <li class="nav-list-sign-up"></li>

        <li class="nav-list-burger"></li> -->
      </ul>
      <a href="" class="sign-up-link link">
        <svg width="16" height="16" class="mobile-sign-up">
          <use href="../images/icons.svg#icon-camera"></use>
        </svg>
      </a>

      <button type="button" class="menu-btn">
        <svg width="32" height="22" class="burger-menu">
          <use href="../images/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>

    <a href="" class="header-main-button">SING UP</a>
  </div>
</header>
