<header class="header container">
  <div class="top-block">
    <nav class="header-nav">
      <a class="logo link" href="./index.html">Focus.Frame </a>

      <ul class="nav-list list">
        <li class="nav-list-item">
          <a class="navigation-links" href="#about-us">About us</a>
        </li>
        <li class="nav-list-item">
          <a class="navigation-links" href="#our-courses">Our courses</a>
        </li>
        <li class="nav-list-item">
          <a class="navigation-links" href="#our-mentors">Our mentors</a>
        </li>
        <li class="nav-list-item">
          <a class="navigation-links" href="#reviews">Reviews</a>
        </li>
        <li class="nav-list-item">
          <a class="navigation-links" href="#contacts">Contacts</a>
        </li>
      </ul>

      <div class="mobile-menus">
        <a href="#sign-up" class="sign-up-link link">
          <svg width="16" height="16" class="mobile-sign-up">
            <use href="../images/icons.svg#icon-camera"></use>
          </svg>
        </a>

        <button type="button" class="menu-btn">
          <svg width="32" height="22" class="burger-menu">
            <use href="../images/icons.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
    </nav>

    <a href="#sign-up" class="header-main-link">SING UP</a>
  </div>
</header>
