<div class="backdrop is-hidden">
    <div class="menu-container js-menu-container" id="mobile-menu">
      <button class="close-btn menu-close-btn js-close-menu">
        <svg class="close-icon-btn menu-close-icon" width="8" height="8">
          <use href="../images/icons.svg#icon-close"></use>
        </svg>
      </button>
  
      <ul class="mobile-menu list">
          <li class="mobile-menu-item">
            <a class="mobile-menu-link current link" href="#about-us">About us</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link link" href="#our-courses">Our courses</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link link" href="#our-mentors">Our mentors</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link link" href="#reviews">Reviews</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link link" href="#contacts">Contacts</a>
          </li>
        </ul>
  
        <img
        srcset=""
        loading="lazy"
        />
  
    </div>
  </div>