<section class="mentors-section" id="our-mentors">
  <div class="container">
    <h2 class="mentors-title section-title">
      Our <span class="brown-title">Mentors</span>
    </h2>
    <ul class="mentors-list list">
      <li class="mentors-list-item">
        <img
          class="mentors-list-img"
          srcset="./images/emilia.png 1x, ./images/emilia@2x.png 2x"
          src="./images/emilia.png"
          alt="Emilia Smith's photo"
          width="180"
          height="180"
          loading="lazy"
        />
        <div class="mentors-list-wrapper wrapper">
          <h3 class="mentors-list-subtitle">Emilia Smith</h3>
          <p class="mentors-list-desc">1.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-list-item">
        <img
          class="mentors-list-img"
          srcset="./images/alex.png 1x, ./images/alex@2x.png 2x"
          src="./images/alex.png"
          alt="Alex Lebedev's photo"
          width="180"
          height="180"
          loading="lazy"
        />
        <div class="mentors-list-wrapper wrapper">
          <h3 class="mentors-list-subtitle">Alex Lebedev</h3>
          <p class="mentors-list-desc">3.5 years of experience</p>
        </div>
      </li>
      <li class="mentors-list-item">
        <img
          class="mentors-list-img"
          srcset="./images/mia.png 1x, ./images/mia@2x.png 2x"
          src="./images/mia.png"
          alt="Mia Dubrovska's photo"
          width="180"
          height="180"
          loading="lazy"
        />
        <div class="mentors-list-wrapper wrapper-mia">
          <h3 class="mentors-list-subtitle">Mia Dubrovska</h3>
          <p class="mentors-list-desc">2.0 years of experience</p>
        </div>
      </li>
      <li class="mentors-list-item">
        <img
          class="mentors-list-img"
          srcset="./images/eliot.png 1x, ./images/eliot@2x.png 2x"
          src="./images/eliot.png"
          alt="Eliot Kovalev's photo"
          width="180"
          height="180"
          loading="lazy"
        />
        <div class="mentors-list-wrapper wrapper-eliot">
          <h3 class="mentors-list-subtitle">Eliot Kovalev</h3>
          <p class="mentors-list-desc">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
