<section class="sign-up" id="sign-up">
  <div class="container sign-container">
    <div class="sign-form-container">
      <h2 class="section-title">Sign <span class="brown-title">up</span></h2>
      <p class="sign-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="sign-form">
        <label>
          <input
            class="sign-form-input"
            type="text"
            name="user-name"
            required
            placeholder="Enter your name"
            pattern="\w{3,}"
            title="Enter your name of at least 3 characters (use only letters)"
          />
        </label>

        <label>
          <input
            class="sign-form-input input-margin"
            type="email"
            name="user-email"
            required
            placeholder="Enter your email"
            minlength="6"
            pattern="[A-Za-z0-9@]{6,}"
            title="The mail cannot be less than 6 Latin characters and must contain @."
          />
        </label>

        <label class="sign-form-label" for="user-comment"></label>
        <textarea
          class="sign-form-textarea"
          name="user-comment"
          id="user-comment"
          rows="4"
          placeholder="Message"
          required
          minlength="7"
        ></textarea>

        <button class="sign-form-button" type="submit">Send</button>

        <p class="sign-text-adept">
          By clicking on “Send” button, you agree to our
          <a
            class="privacy-policy link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Privacy Policy"
            >Privacy Policy</a
          >, and allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>

    <!-- For desktop-1280 -->
    <ul class="sign-box list">
      <li>
        <div class="sign-img-lens">
          <img
            class="img-lens-item"
            src="./images/lens.png"
            srcset="./images/lens.png 1x, ./images/lens@2x.png 2x"
            loading="lazy"
            alt="Lens"
            width="150"
            height="142"
          />
        </div>
      </li>
      <li>
        <div class="sign-img-camera">
          <img
            class="img-camera-item"
            src="./images/camera.png"
            srcset="./images/camera.png 1x, ./images/camera@2x.png 2x"
            loading="lazy"
            alt="Camera"
            width="240"
            height="296"
          />
        </div>
      </li>
    </ul>

    <!-- For desktop-1440 -->
    <ul class="sign-box-max list">
      <li>
        <div class="sign-img-lens">
          <img
            class="img-lens-item"
            src="./images/lens-max.png"
            srcset="./images/lens-max.png 1x, ./images/lens-max@2x.png 2x"
            loading="lazy"
            alt="Lens"
            width="163"
            height="154"
          />
        </div>
      </li>
      <li>
        <div class="sign-img-camera">
          <img
            class="img-camera-item"
            src="./images/camera-max.png"
            srcset="./images/camera-max.png 1x, ./images/camera-max@2x.png 2x"
            loading="lazy"
            alt="Camera"
            width="254"
            height="313"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
