<section class="sign-up">
  <div class="container">
    <div class="sign-container">
      <h2 class="section-title">Sign <span class="brown-title">up</span></h2>
      <p class="sign-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="sign-form">
        <label>
          <input
            class="sign-form-input"
            type="text"
            name="user-name"
            required
            placeholder="Enter your name"
            pattern="\w{3,16}"
          />
        </label>

        <label>
          <input
            class="sign-form-input input-margin"
            type="email"
            name="user-email"
            required
            placeholder="Enter your email"
            minlength="3"
          />
        </label>

        <label class="sign-form-label" for="user-comment">
          <textarea
            class="sign-form-textarea"
            name="user-comment"
            id="user-comment"
            rows="3"
            placeholder="Message"
            required
            minlength="7"
          >
          </textarea>
        </label>

        <button class="sign-form-button" type="submit">Send</button>

        <p class="sign-text-adept">
          By clicking on “Send” button, you agree to our
          <a
            class="privacy-policy link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            >Privacy Policy</a
          >, and allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
    <ul class="sign-box">
      <li>
        <div class="sign-img-lens">
          <img
            src="./images/lens.png"
            srcset="./images/lens.png 1x, ./images/lens@2x.png 2x"
            loading="lazy"
            alt="Lens"
            width="150"
            height="142"
          />
        </div>
      </li>
      <li>
        <div class="sign-img-camera">
          <img
            src="./images/camera.png"
            srcset="./images/camera.png 1x, ./images/camera@2x.png 2x"
            loading="lazy"
            alt="Camera"
            width="240"
            height="296"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
