.advertisement-section {
    margin-top: 80px;
}

.marquee {
    overflow: hidden;
    font-size: 28px;
    line-height: 1.1;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    background-color: transparent;
    border: solid 1px rgba(255, 255, 255, 0.20);
  }
  
  .marquee_inner {
    display: flex;
  }
  
  .marquee_line {
    flex-shrink: 0;
    margin: 0;
    padding: 20px 15px;
    min-width: 100%;
    white-space: nowrap;
    animation-name: marqueeLine;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  .brown-text {
    color: var(--brown);
  }
  
  @keyframes marqueeLine {
    from {
      transform: translateX(0);
    }
    
    to {
      transform: translateX(-100%);
    }
  }

@media only screen and (min-width: 768px) {
    .advertisement-section {
        margin-top: 100px;
    }
    .marquee {
      font-size: 40px;
      line-height: 1.25;
     letter-spacing: -0.05em;
    }
    .marquee_line {
        padding: 24px 20px;
    }
  } 

@media only screen and (min-width: 1280px) {
    .advertisement-section {
        margin-top: 150px;
    }
    .marquee {
    font-size: 59px;
      line-height: 1.08;
    letter-spacing: -0.074em;
  }
}