.marquee {
  overflow: hidden;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background-color: transparent;
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-left: none;
  border-right: none;
  font-weight: 400;
}

.marquee-inner {
  display: flex;
}

.marquee-line {
  flex-shrink: 0;
  padding: 20px 15px;
  min-width: 100%;
  font-weight: normal;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

  font-size: 28px;
}
@media only screen and (min-width: 768px) {
  .marquee-line {
      font-size: 40px;
  }
}
@media only screen and (min-width: 1280px) {
  .marquee-line {
  font-size: 59px;
  }
}

.brown-text {
  color: var(--brown);
}

@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@media only screen and (min-width: 768px) {
  .marquee {
    font-size: 40px;
    line-height: 1.25;
  }
  .marquee-line {
    padding: 24px 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .marquee {
    font-size: 59px;
    line-height: 1.08;
  }
}
