.courses-title{
    padding-top: 80px;
    margin-bottom: 20px;
     
}
.section-text{
    color: var(--white);
        font-family: 'DM Sans';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.29;
        letter-spacing: -0.02em;
}
.section-opening{
    margin-bottom: 40px;
}
.section-list{
    padding: 0;
    margin: 0 auto;
}
.section-item{
 position: relative;
display: flex;
flex-direction: column;
border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: var(--linear-gradient);
height: 398px;
flex-shrink: 0;
padding: 28px;
}

.section-item:not(:last-child){
    margin-bottom: 20px;
}
.list-title{
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    max-width: 279px;
    margin-top: 28px;
}
.list-title-two {
    max-width: 275px;
    margin-top: 28px;
}
.list-text {
position: absolute;
bottom: 28px;
left: 28px;
right: 28px;
color: rgba(255, 255, 255, 0.50);
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
}
.list-button{
background-color: #1D1D1D;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    fill: transparent;
    stroke: #777777;
    width: 32px;
    height: 32px;
}
.list-number{
    color: rgba(255, 255, 255, 0.40);
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
}
.list-opening{
    display: flex;
        justify-content: space-between
}
@media screen and (min-width: 768px){
    .section-item{
        width: 342px;
        height: 452px;
        width: calc((100% - 20px) / 2);
        margin-bottom: 0;
        padding: 32px;
    }
        .section-item:not(:last-child){
            margin-bottom: 0;
        }
    .section-list{
        gap: 20px 20px;
        display: flex;
            flex-wrap: wrap;
    }
    .list-title{
        max-width: 265px;
        font-size: 28px;
        margin-top: 32px;
    }
    .section-opening{
        display: flex;
        gap: 58px;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 50px;
    }
    .section-text{
        width: 381px;
        font-size: 16px;
        line-height: 1.25;

    }
    .courses-title{
        font-size: 48px;
            line-height: 1.13;
            padding-top: 100px;
    }
    .list-text{
        font-size: 16px;
        line-height: 1.25;
        left: 32px;
        right: 32px;
        bottom: 32px;
    }
}
@media screen and (min-width: 1280px){
.section-opening {
        gap: 410px;
    }
.section-list{
    flex-wrap: nowrap;
}
.section-item{
    width: 347px;
}
.section-text{
    width: 405px;
}
.courses-title{
    padding-top: 150px;
}
}
