.mentors-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.mentors-title {
    margin-bottom: 40px;
}

.mentors-list {}

.mentors-list-item {}

.mentors-list-img {}

.mentors-list-wrapper {
    margin-top: 16px;
    margin-bottom: 40px;
}
/* .mentors-list-wrapper:last-child {
    margin-bottom: 0;
} */

.mentors-list-subtitle {}

.mentors-list-desc {}