.sign-text {
  max-width: 295px;
  margin-top: 20px;
  margin-bottom: 41px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}

.sign-form {
  display: flex;
  flex-direction: column;
}

.sign-form-input {
  width: 100%;
  height: 46px;
  padding-left: 18px;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--white);
  opacity: 0.7;
}

.sign-form-textarea {
  width: 100%;
  height: 112px;
  padding-left: 18px;
  margin-bottom: 40px;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--white);
  opacity: 0.7;
}

.input-margin {
  margin-top: 8px;
  margin-bottom: 7px;
}

.sign-form-input::placeholder,
.sign-form-textarea::placeholder {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
}

.sign-form-textarea {
  padding-top: 15px;
}

.sign-form-button {
  width: 100%;
  height: 48px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25; /* 125% */
  text-transform: uppercase;
  border-radius: 14px;
  background: var(--white, #fff);
}

.sign-text-adept {
  max-width: 335px;
  margin-bottom: 80px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33; /* 133.333% */
}

.privacy-policy {
  text-decoration-line: underline;
}

@media (max-width: 1280px) {
  .sign-box {
    display: none;
  }
}
