.sign-container {
  padding-top: 80px;
}

.sign-title {
  padding: 0;
  margin-bottom: 20px;
}

.sign-text {
  max-width: 295px;
  margin-bottom: 41px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .sign-text {
    margin-bottom: 40px;
  }
}

.sign-form {
  display: flex;
  flex-direction: column;
}

.sign-form-input {
  width: 100%;
  padding: 14px 18px;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--white);
  font-family: DM Sans;
  font-size: 14px;
  line-height: 1.29em;
  transition: border var(--animation), background-color var(--animation);
}

.sign-form-textarea {
  width: 100%;

  padding: 15px 18px;
  margin-bottom: 40px;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--white);
  resize: none;
  font-family: DM Sans;
  font-size: 14px;
  line-height: 1.29em;
  transition: border var(--animation), background-color var(--animation);
}

.input-margin {
  margin-top: 8px;
  margin-bottom: 7px;
}

.sign-form-input::placeholder,
.sign-form-textarea::placeholder {
  opacity: 0.7;
}

.sign-form-input:active,
.sign-form-textarea:active {
  background-color: var(--gray);
  border: 1px solid var(--white);
}

@media (hover: hover) {
  .sign-form-input:hover,
  .sign-form-input:focus,
  .sign-form-textarea:hover,
  .sign-form-textarea:focus {
    background-color: var(--gray);
    border: 1px solid var(--white);
  }
}

.sign-form-textarea {
  padding-top: 15px;
}

.sign-form-button {
  width: 100%;
  padding: 14px;
  border: none;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25; /* 125% */
  text-transform: uppercase;
  border-radius: 14px;
  background: var(--white, #fff);
  transition: color var(--animation), background-color var(--animation);
}

.sign-form-button:active {
  cursor: pointer;
  color: var(--brown);
  background-color: var(--gray);
}

@media (hover: hover) {
  .sign-form-button:hover,
  .sign-form-button:focus {
    cursor: pointer;
    color: var(--brown);
    background-color: var(--gray);
  }
}

.sign-text-adept {
  max-width: 335px;
  margin-bottom: 80px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33; /* 133.333% */
}

.privacy-policy {
  text-decoration-line: underline;
}

@media (max-width: 1279px) {
  .sign-box {
    display: none;
    list-style: none;
  }
}

@media (max-width: 1439px) {
  .sign-box-max {
    display: none;
    list-style: none;
  }
}

/**
  |============================
  | Tablet adaptation
  |============================
*/
@media (min-width: 768px) {
  .sign-container {
    padding-top: 100px;
  }

  .sign-form-container,
  .sign-text,
  .sign-text-adept {
    max-width: 480px;
  }

  .input-margin {
    margin-top: 14px;
    margin-bottom: 13px;
  }

  .sign-form-input,
  .sign-form-textarea {
    padding: 20px 18px;
    font-size: 16px;
    line-height: 1.25;
  }

  .sign-form-button {
    font-size: 18px;
    height: 60px;
    padding: 16px;
  }

  .sign-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .sign-text-adept {
    font-size: 14px;
    line-height: 1.29;
  }
}

/**
  |============================
  | Desktop-1280 adaptation
  |============================
*/
@media (min-width: 1280px) {
  .sign-container {
    display: flex;
    gap: 60px;
    padding-top: 150px;
  }

  .sign-box {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    padding-bottom: 38px;
  }

  .sign-img-lens {
    width: 180px;
    height: 288px;
    align-items: center;
    border-radius: 1000px;
    background-color: var(--brown);
  }

  .img-lens-item {
    transform: translateY(50%);
    scale: 1.25;
  }

  .sign-img-camera {
    width: 340px;
    height: 540px;
    background-color: var(--gray);
    border-radius: 1000px;
  }

  .img-camera-item {
    transform: translateY(50%);
    margin-right: auto;
    margin-left: auto;
  }
}

/**
  |============================
  | Desktop-1440 adaptation
  |============================
*/
@media (min-width: 1440px) {
  .sign-container {
    gap: 200px;
  }

  .sign-box {
    display: none;
  }

  .sign-box-max {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    padding-bottom: 38px;
  }

  .sign-img-lens {
    width: 190px;
  }

  .sign-img-camera {
    width: 350px;
  }
}
